n8n/workflows/media-builder.json
{
  "name": "WF-03: FlowCast Media Builder",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "flowcast-media-builder",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "flowcast-media-builder"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst videoId = body.video_id;\nconst channelId = body.channel_id;\nconst script = body.script;\nconst title = body.title;\nconst hashtags = body.hashtags || [];\n\nif (!videoId || !channelId || !script) {\n  throw new Error('Missing required fields: video_id, channel_id, script');\n}\n\nreturn [{ json: { videoId, channelId, script, title, hashtags } }];"
      },
      "id": "node-parse",
      "name": "Parse Video Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{ $env.ELEVENLABS_VOICE_ID }}",
        "sendHeaders": true,
        "headers": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "={{ $env.ELEVENLABS_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "audio/mpeg"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.script }}"
            },
            {
              "name": "model_id",
              "value": "eleven_monolingual_v1"
            },
            {
              "name": "voice_settings",
              "value": "={ \"stability\": 0.5, \"similarity_boost\": 0.8, \"style\": 0.2 }"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "node-elevenlabs",
      "name": "ElevenLabs Voiceover",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "url": "=https://api.pexels.com/videos/search?query={{ encodeURIComponent($json.title) }}&orientation=portrait&min_duration=5&max_duration=20&per_page=6",
        "sendHeaders": true,
        "headers": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $env.PEXELS_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-pexels",
      "name": "Pexels Footage Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "jsCode": "const pexelsData = $input.last().json;\nconst videos = pexelsData.videos || [];\nconst footageUrls = videos.slice(0, 6).map(v => {\n  const file = v.video_files.find(f => f.quality === 'sd' && f.width < f.height)\n    || v.video_files.find(f => f.width < f.height)\n    || v.video_files[0];\n  return file ? file.link : null;\n}).filter(Boolean);\n\nreturn [{ json: { footageUrls, videoId: $('Parse Video Data').first().json.videoId, channelId: $('Parse Video Data').first().json.channelId, title: $('Parse Video Data').first().json.title } }];"
      },
      "id": "node-extract-urls",
      "name": "Extract Footage URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "command": "=echo 'Media build triggered for video {{ $json.videoId }}'"
      },
      "id": "node-ffmpeg",
      "name": "Trigger FFmpeg Build",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/videos?id=eq.{{ $json.videoId }}",
        "sendHeaders": true,
        "headers": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "ready"
            }
          ]
        },
        "options": {}
      },
      "id": "node-update-status",
      "name": "Update Video Status to Ready",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Media build queued\" }",
        "options": {}
      },
      "id": "node-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Parse Video Data", "type": "main", "index": 0 }]]
    },
    "Parse Video Data": {
      "main": [
        [
          { "node": "ElevenLabs Voiceover", "type": "main", "index": 0 },
          { "node": "Pexels Footage Search", "type": "main", "index": 0 }
        ]
      ]
    },
    "ElevenLabs Voiceover": {
      "main": [[{ "node": "Trigger FFmpeg Build", "type": "main", "index": 0 }]]
    },
    "Pexels Footage Search": {
      "main": [[{ "node": "Extract Footage URLs", "type": "main", "index": 0 }]]
    },
    "Extract Footage URLs": {
      "main": [[{ "node": "Trigger FFmpeg Build", "type": "main", "index": 0 }]]
    },
    "Trigger FFmpeg Build": {
      "main": [[{ "node": "Update Video Status to Ready", "type": "main", "index": 0 }]]
    },
    "Update Video Status to Ready": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["flowcast"],
  "notes": "Triggered via webhook after script generation. Calls ElevenLabs for voiceover, Pexels for footage, then invokes FFmpeg assembly. Requires: FLOWCAST_API_URL, FLOWCAST_API_TOKEN, ELEVENLABS_API_KEY, ELEVENLABS_VOICE_ID, PEXELS_API_KEY, SUPABASE_URL, SUPABASE_SERVICE_KEY."
}
